<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add New Employee</title>

    <style>
        form .form-input {
            margin-bottom: 5px;
        }

        form input {
            padding: 5px;
        }

        button {
            padding: 5px;
            margin-bottom: 20px;
        }

        form .form-input div {
            color: red;
            font-size: smaller;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h2>Add New Employee</h2>

    <form th:action="@{/employees/add}" th:object="${employee}" method="post">
        <div class='form-input'>
            <label>Name:</label><br>
            <input type="text" th:field="*{name}"><br>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class='form-input'>
            <label>Email:</label><br>
            <input type="email" th:field="*{email}"><br>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class='form-input'>
            <label>Department Name:</label><br>
            <input type="text" th:field="*{departmentName}"><br>
        </div>

        <button type="submit">Save</button>
    </form>

    <a th:href="@{/employees/list}">Back to List</a>
</body>

</html>
